@charset "utf-8";
/* CSS Document */
.blocAffichageGBM {
	display:table;
	background-color:#888;
	height:400px;
	width:100%;
	margin-bottom:20px;
}
.blocAffichageGBMint {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	width:100%;
}
.blocAffichageGBM img {
	vertical-align:middle;	
}

